.widget-dark h4 {
  background-color: #282828;
}

.right-sidebar-div-1-dark {
  background-color: #1a1625;
}

.widget-tags-dark h4 {
  background-color: #282828;
}
.widget-tags-div-dark {
  background-color: #1a1625;
}

.widget-tags-div-dark p {
  background-color: #282828;
  color: white;
}
