.subscription-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 94vh;
  flex-wrap: wrap;
  padding-top: 4rem;
}

.main-container {
  background-color: #ef8236;
  margin: 2rem 1.5rem;
  color: white;
  border-radius: 1rem;
  padding: 4rem 1rem;
  box-shadow: 4px 4px 20px #ef8236;
  border: solid 0.3rem white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price-container {
  display: flex;
  align-items: end;
  justify-content: center;
}
.price {
  font-weight: bolder;
  font-size: 5rem;
}
.title {
  font-size: 2rem;
}

.desc {
  font-size: 1rem;
  margin: 1rem;
}

.subscribe-btn {
  background-color: white;
  color: #ef8236;
  border: solid 1px #a45a26;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  box-shadow: 4px 4px 20px white;
  transition: 0.3s ease-in-out;
}
.subscribe-btn:hover {
  background-color: #a45a26;
  color: white;
}

/* Success/cancel page */

.SubscriptionSuccess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.SubscriptionSuccess-container-2 {
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SubscriptionSuccess-container-2 h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.SubscriptionSuccess-container-2 button {
  background-color: #019c96;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: large;
  transition: 0.2s ease-in-out;
}
.SubscriptionSuccess-container-2 button:hover {
  background-color: #027c78;
}

.SubscriptionCancel-container-2 {
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SubscriptionCancel-container-2 h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.SubscriptionCancel-container-2 a {
  background-color: #f00808;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: large;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.SubscriptionCancel-container-2 a:hover {
  background-color: #c00606;
}
